<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzrijing.workassistant" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="55GGDSEHicXHKpf2FaLYiinD" />

        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity android:name=".view.PipeInspectionMapActivity" />
        <activity
            android:name=".view.DownloadOfflineMapActivity"
            android:label="@string/title_activity_download_offline_map" />
        <activity
            android:name=".view.PipeInspectionFormActivity"
            android:label="@string/title_activity_pipe_inspection_form" />
        <activity
            android:name=".view.PipeInspectionReportActivity"
            android:label="@string/title_activity_pipe_inspection_report" >
        </activity>
        <activity
            android:name=".view.PipeRepairDistributeActivity"
            android:label="@string/title_activity_pipe_repair_distribute" >
        </activity>
        <activity
            android:name=".view.PipeRepairProgressActivity"
            android:label="@string/title_activity_pipe_repair_progress" >
        </activity>
        <activity
            android:name=".view.PipeRepairDistributeInfoActivity"
            android:label="@string/title_activity_pipe_repair_distribute_info" >
        </activity>
        <activity
            android:name=".view.SubordinateActivity"
            android:label="@string/title_activity_subordinate" >
        </activity>
    </application>

</manifest>
